/* ABOUT-US */

.about-us {
  padding-top: 49px;
}

.title-section {
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
  color: #333333;
}

.about-us .title-section {
  line-height: 59px;
}

.about-us__descr {
  max-width: 1235px;
  margin-bottom: 49px;
  font-size: var(--text-size);
  font-weight: 400;
  line-height: 32px;
  color: #333333;
}

.about-us__bottom {
  justify-content: space-between;
  min-height: 622px;
  font-size: var(--text-size);
  font-weight: 700;
  line-height: 20px;
}

.about-us__left {
  position: relative;
  z-index: 1;
  display: flex;
  overflow: hidden;
  align-items: flex-end;
  width: 50%;
  min-height: 622px;
  margin-right: 32px;
  border-radius: 32px;
  background: url(../img/about-us-bg.jpg) center center / cover no-repeat;
}

.left__descr {
  position: relative;
  z-index: 2;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 196px;
  padding-top: 50px;
  padding-right: 51px;
  padding-bottom: 50px;
  padding-left: 50px;
  border-radius: 32px;
  background: rgba(0, 0, 0, .5);
}

.left__tx {
  max-width: 454px;
  font-size: var(--text-size);
  font-weight: 700;
  font-style: normal;
  line-height: 32px;
  color: #ffffff;
}

.left__btn {
  width: 175px;
  min-height: 59px;
  padding: 12px 38px;
  border: 3px solid var(--orange-1-clr);
  font-size: var(--text-size);
  font-weight: 700;
  line-height: 1;
  color: var(--white-clr);
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  transition: background-color .3s ease-in-out, color .3s ease-in-out, border .3s ease-in-out;
}

/* Animation about-us*/
.left__btn:focus {
  background-color: var(--orange-1-clr);
}

.left__btn:hover {
  background-color: var(--orange-1-clr);
}

.left__btn:active {
  border: 3px solid var(--orange-3-clr);
  background-color: var(--orange-3-clr);
}

/* --------------- */

.about-us__right {
  width: 50%;
  height: 100%;
}

.right__option {
  /* min-height: 295px; */
  min-height: 100%;
  padding: 67px 116px 65px 300px;
  border-radius: 32px;
  outline: 1px solid #cacaca;
  background: url(../icons/about-us-icon-1.svg) center left 60px / 190px 165px no-repeat;
}

.right__option:not(:last-child) {
  margin-bottom: 31px;
}

.option-1 {
  background: url(../icons/about-us-icon-2.svg) center left 60px / 190px 165px no-repeat;
}

.right__title {
  display: block;
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #333333;
}

.right__descr {
  font-size: var(--text-size);
  font-weight: 400;
  line-height: 32px;
  color: #333333;
}

.about-us__tx-mob {
  display: none;
}

.about-us__btn-mob {
  display: none;
}


/* -------------------MEIDA--------------------------------- */
@media (max-width: 1536px) {

  /* ABOUT-US */
  .about-us__bottom {
    flex-wrap: wrap;
  }

  .about-us {
    padding-top: 36px;
  }

  .about-us__left {
    width: 100%;
    min-height: 640px;
    margin-right: 0;
    margin-bottom: 31px;
    background: url(../img/about-us-bg1024.jpg) center top / cover no-repeat;
  }

  .about-us__right {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .about-us__descr {
    margin-bottom: 60px;
  }

  .left__tx {
    margin-right: 20%;
  }

  .right__option {
    width: 50%;
    padding: 68px 30px 65px 317px;
  }

  .right__option:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }

  .right__title {
    margin-bottom: 10px;
  }

  .option-1,
  .option-2 {
    background-position: center left 76px;
  }
}

@media (max-width: 1366px) {


  /* ABOUT-US */

  .about-us {
    padding-top: 36px;
  }

  .about-us__bottom {
    flex-wrap: wrap;
  }

  .about-us__left {
    width: 100%;
    min-height: 640px;
    margin-right: 0;
    margin-bottom: 31px;
    background: url(../img/about-us-bg1024.jpg) center center / cover no-repeat;
  }

  .about-us__right {
    display: block;
    width: 100%;
  }

  .right__option {
    width: 100%;
    padding: 68px 116px 65px 317px;
  }

  .right__option:not(:last-child) {
    margin-right: 0;
    margin-bottom: 32px;
  }

  .about-us__descr {
    margin-bottom: 60px;
  }

  .left__tx {
    margin-right: 20%;
  }

  .right__option {
    padding: 68px 117px 65px 317px;
  }

  .right__title {
    margin-bottom: 10px;
  }

  .option-1,
  .option-2 {
    background-position: center left 76px;
  }
}

@media (max-width: 800px) {

  /* ABOUT-US */

  .about-us__descr {
    margin-bottom: 52px;
  }

  .about-us__left {
    width: 100%;
    min-height: 650px;
    margin-right: 0;
    margin-bottom: 31px;
    background: url(../img/about-us-bg768.jpg) center center / cover no-repeat;
  }

  .left__descr {
    padding-top: 34px;
    padding-right: 41px;
    padding-bottom: 34px;
    padding-left: 40px;
  }

  .left__tx {
    margin-right: max(47px);
  }

  .right__option {
    /* min-height: 235px; */
    padding: 40px 46px 34px 170px;
    background: url(../icons/about-us-icon-1.svg) center left 40px / 114px 99px no-repeat;
  }

  .option-1 {
    background: url(../icons/about-us-icon-2.svg) center left 40px / 114px 99px no-repeat;
  }
}

@media (max-width: 601px) {

  /* ABOUT-US */

  .about-us {
    padding-top: 60px;
  }

  .about-us .title-section {
    font-size: 24px;
    line-height: 29px;
  }

  .about-us__descr {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 14px;
  }

  .about-us__left {
    min-height: 300px;
    width: 100%;
    border-radius: 16px;
    margin-right: 0;
    margin-bottom: 8px;
    background: url(../img/about-us-bg320.jpg) center top / cover no-repeat;
  }

  .left__descr {
    display: none;
  }

  .about-us__tx-mob {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  .about-us__btn-mob {
    display: block;
    width: 162px;
    min-height: 39px;
    padding: 12px 40px;
    margin-bottom: 32px;
    border: 3px solid var(--orange-1-clr);
    border-radius: 8px;
    font-size: var(--text-size-mob);
    font-weight: 700;
    line-height: 1;
    color: var(--orange-1-clr);
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    transition: background-color .3s ease-in-out, color .3s ease-in-out, border .3s ease-in-out;
  }

  .left__btn-mob:focus {
    background-color: var(--orange-1-clr);
    color: var(--white-clr);
  }

  .left__btn-mob:hover {
    background-color: var(--orange-1-clr);
    color: var(--white-clr);
  }

  .left__btn-mob:active {
    border: 3px solid var(--orange-3-clr);
    background-color: var(--orange-3-clr);
    color: var(--white-clr);
  }

  .right__option {
    /* min-height: 247px; */
    outline: none;
    padding: 0;
    padding-top: 61px;
    background-image: url(../icons/about-us-icon-1-mob.svg);
    background-position: top left;
    background-size: 64px 49px;

  }

  .option-1 {
    background-image: url(../icons/about-us-icon-2-mob.svg);
  }

  .right__title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    margin-bottom: 3px;
  }

  .right__descr {
    font-size: 14px;
    line-height: 28px;
  }

  .right__option:not(:last-child) {
    margin-bottom: 33px;
  }
}

@media (max-width: 414px) {

  .about-us__left {
    min-height: 200px;
  }
}
