/* REPEAT_CODE */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  font-size: var(--text-size);
  font-weight: var(--medium);
  font-style: normal;
}

.container {
  position: relative;
  z-index: 2;
  padding-right: var(--container-padding-desctop);
  padding-left: var(--container-padding-desctop);
  max-width: var(--container-max-width);
  margin: 0 auto;
}

.reset-offset {
  margin: 0;
  padding: 0;
}

.title-reset {
  margin: 0;
  padding: 0;
}

.descr-reset {
  margin: 0;
  padding: 0;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item-reset {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.section-offset {
  padding-top: 50px;
  padding-bottom: 50px;
}
/*  */
.btn {
  padding: 22px 37px;
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 20px;
  font-weight: var(--bold);
  color: var(--white-clr);
  background-color: var(--orange-1-clr);
  outline: none;
  /* border: none; */
  border-radius: 16px;
}

.btn-reset {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.header__img-link,
.footer__img-link{
  outline: none;
}
