/* @import url("_fonts.css");
@import url("../css/_general.css");
@import url('_keyframes.css');
@import url("_variables.css");
@import url('_header.css');
@import url('_main.css');
@import url('_about-us.css');
@import url('_work.css');
@import url('_question.css');
@import url('_footer.css');
@import url("_media.css"); */




/* FONTS */

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Bold'), local('MontserratBold'),
    url('../fonts/MontserratBold.woff2') format('woff2'),
    url('../fonts/MontserratBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat ExtraBold'), local('MontserratExtraBold'),
    url('../fonts/MontserratExtraBold.woff2') format('woff2'),
    url('../fonts/MontserratExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Medium'), local('MontserratMedium'),
    url('../fonts/MontserratMedium.woff2') format('woff2'),
    url('../fonts/MontserratMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Regular'), local('MontserratRegular'),
    url('../fonts/MontserratRegular.woff2') format('woff2'),
    url('../fonts/MontserratRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat SemiBold'), local('MontserratSemiBold'),
    url('../fonts/MontserratSemiBold.woff2') format('woff2'),
    url('../fonts/MontserratSemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}




/* REPEAT_CODE */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  font-size: var(--text-size);
  font-weight: var(--medium);
  font-style: normal;
}

.container {
  position: relative;
  z-index: 2;
  padding-right: var(--container-padding-desctop);
  padding-left: var(--container-padding-desctop);
  max-width: var(--container-max-width);
  margin: 0 auto;
}

.reset-offset {
  margin: 0;
  padding: 0;
}

.title-reset {
  margin: 0;
  padding: 0;
}

.descr-reset {
  margin: 0;
  padding: 0;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item-reset {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.section-offset {
  padding-top: 50px;
  padding-bottom: 50px;
}
/*  */
.btn {
  padding: 22px 37px;
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 20px;
  font-weight: var(--bold);
  color: var(--white-clr);
  background-color: var(--orange-1-clr);
  outline: none;
  /* border: none; */
  border-radius: 16px;
}

.btn-reset {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/* --------------------- */

/* VARIABLES */

:root {
  /* fonts */
  --text-size: 16px;
  --text-size-mob: 12px;

  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;

  /* color */
  --orange-1-clr: #FF9900;
  --orange-2-clr: #FFB84D;
  --orange-3-clr: #E1670E;
  --green-clr: #97EE3F;
  --white-clr: #fff;
  --gray-1-clr: #CACACA;
  --gray-2-clr: #808080;
  --gray-3-clr: #666666;
  --gray-4-clr: #414141;
  --black-clr: #000;
  --bg-gray: #7f87bd;

  /* container */

  --container-max-width: 1870px;
  --container-padding-desctop: 50px;
  --container-padding-mobile: 15px;

  /* transition */

  --short: .3s;

}
/* ---------------------------- */
/* HEADER */

.header {
  position: relative;
  z-index: 10;
  align-items: center;
  min-height: 100px;
  margin-bottom: 50px;
  border-radius: 0 0 32px 32px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, .1);
}

.header__container {
  align-items: center;
  justify-content: space-between;
  min-height: inherit;
}

.header__img-link {
  display: inline-block;
  /* margin-right: auto; */
  width: 224px;
  height: 72px;
  margin-right: 50px;
}

/* -----------------Бургер-кнопка----------------------------- */

.header__burger {
  position: relative;
  display: none;
  width: 30px;
  height: 23px;
  /* border: 1px solid black; */
  background: transparent;
  cursor: pointer;
}

.header__burger-line {
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background: var(--black-clr);
  /* transform: translateY(-50%); */

}

.header__burger-line:nth-child(1) {
  top: 0;
  transition: transform .3s ease-in-out, left .3s ease-in-out, top .3s ease-in-out;
}


.header__burger-line:nth-child(3) {
  bottom: 0;
  transition: transform .3s ease-in-out, left .3s ease-in-out, top .3s ease-in-out;
}

.header__burger-line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
  transition: transform .3s ease-in-out, left .3s ease-in-out, top .3s ease-in-out;
}

.header__img-link,
.header__btn {
  flex-shrink: 0;
}

.header__nav,
.header__list {
  align-items: center;
}

.header__list {
  position: relative;
  flex-wrap: wrap;
  margin-right: 261px;
}



.header__item:not(:last-child) {
  margin-right: 85px;
}

.header__link {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  color: var(--black-clr);
  transition: color var(--short) ease-in-out;
}

/* animation header*/
.header__link:focus {
  outline: 2px solid var(--orange-1-clr);
  outline-offset: 5px;
}

.header__link:hover {
  outline: none;
}

.header__link:active {
  color: var(--orange-3-clr);
  outline: none;
}

.header__link::after {
  content: " ";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--orange-1-clr);
  transition: transform var(--short) ease-in-out, background-color var(--short) ease-in-out;
  transform: scaleX(0);
}

.header__link:focus::after {
  transform: scaleX(0);
}

.header__link:hover::after {
  outline: none;
  transform: scaleX(1);
}

.header__link:active::after {
  background-color: var(--orange-3-clr);
  transform: scaleX(1);
}

/* ------------------ */

.header__btn {
  width: 24px;
  height: 24px;
  color: var(--black-clr);
  /* stroke: #333333;
  fill: #333333; */
  transition: color var(--short) ease-in-out;
}

.header__btn:focus {
  outline: 2px solid var(--orange-1-clr);
  outline-offset: 4px;
}

.header__btn:hover {
  color: var(--orange-1-clr);
  outline: none;
  cursor: pointer;
}

.header__btn:active {
  color: var(--orange-3-clr);
  outline: none;
}


/*------------------------------ меню поиска------------------------------------------ */

.search-form {
  position: absolute;
  right: 25px;
  display: flex;
  padding: 16px 18px;
  /* width: 539px; */
  width: clamp(327px, 30%, 537px);
  height: 60px;
  outline: none;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 24px;
  visibility: hidden;
  /* display: none; */
  transform: scale(0);
  transition: transform .3s ease-in-out;
}

.search-form--active {
  /* display: flex; */
  transform: none;
  visibility: visible;
  transition: transform .3s ease-in-out;
}

.header__btn--hidden{
  visibility: hidden;
}

.search-input {
  width: 100%;
  margin-right: 14px;
  outline: none;
  border: none;
  border-bottom: 1px solid #CACACA;

}

.search-input::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #CACACA;
}

.search-btn {
  margin-right: 20px;
  color: var(--orange-1-clr);
  cursor: pointer;
}

.close-btn {
  color: var(--gray-1-clr);
  cursor: pointer;
}





/*---------------------------------------------- MEDIA----------------------------------------- */

@media (max-width: 1366px) {

  .header {
    margin-bottom: 40px;
  }

  /* .header__list {
    display: none;
  } */

  .header__list {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding-top: 170px;
    padding-right: 20px;
    padding-bottom: 229px;
    padding-left: 50px;
    background: #FFFFFF;
    overflow-y: auto;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 32px 32px;
    transform: translateX(-120%);
    visibility: hidden;

  }

  .header__list .header__item {
    margin-right: 0;
  }

  .header__list .header__item:not(:last-child) {
    margin-bottom: 60px;
  }

  .header__list .header__link {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }

  .header__list--active {
    visibility: visible;
    transform: none;
  }

  .burger--active {
    position: relative;
    z-index: 100;
  }

  .burger--active
  .header__burger-line:nth-child(2) {
    opacity:0;
  }

  .burger--active
  .header__burger-line:nth-child(1) {
    transform: rotate(45deg);
    top: 50%;
    transform-origin: center;
    transition: transform .3s ease-in-out, left .3s ease-in-out, top .3s ease-in-out;
  }

  .burger--active
  .header__burger-line:nth-child(3) {
    transform: rotate(-45deg);
    top: 50%;
    transform-origin: center;
    transition: transform .3s ease-in-out, left .3s ease-in-out, top .3s ease-in-out;
  }

  .stop-scroll {
    overflow: hidden;
  }

  .header__burger {
    display: block;
  }

  .header__img-link {
    width: 150px;
    height: 48px;
    margin-right: 0;
  }
}


@media (max-width: 800px) {

  .header {
    min-height: 70px;
  }

  .header__img-link--hidden {
  display: none;
  transition: display .3s ease-in-out;
}
}

@media (max-width: 601px) {

  .header {
    margin-bottom: 29px;
  }

  .container {
    padding-right: var(--container-padding-mobile);
    padding-left: var(--container-padding-mobile);
  }

  .header__img-link {
    width: 110px;
    height: 35px;
  }

  .header__nav .header__list {
    padding-left: 30px;
    padding-bottom: 10px;
  }

  .header__list .header__link {
    font-size: 18px;
  }
}


/* --------------------------------------------- */

/* MAIN */

.main {
  min-height: 620px;
}

.main__wrapper {
  position: relative;
  min-height: 620px;
  padding: 101px 80px;
}

.main__content {
  position: relative;
  z-index: 11;
}



/* ---------------SLADER------------------ */


.main__slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 32px;
  overflow: hidden;
}

.slade{
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--bg-gray);
}

.slade-1 {
  background-image: url(../img/main-bg-3-1920.jpg);
}

.slade-2 {
  background-image: url(../img/main-bg-1-1920.jpg);
}

.slade-3 {
  background-image: url(../img/main-bg-2-1920.jpg);
}

/* .swiper-pagination{
  width: 15px;
  height: 15px;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  width: 15px;
  height: 15px;
  bottom:15px;
} */
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 28px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}

.swiper-pagination-bullet-active {
	background-color: #fff;
}




.main__title {
  margin-right: 48%;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: var(--extrabold);
  font-size: 70px;
  line-height: 85px;
  color: #FFFFFF;


}

.main__descr {
  margin-right: 50%;
  margin-bottom: 90px;
  font-style: normal;
  font-weight: var(--bold);
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;

}

.main__btn {
  width: 280px;
  height: 78px;
  padding: 23px 37px;
  border: none;
  background-color: var(--orange-1-clr);

  font-style: normal;
  font-weight: 700;
  font-size: 23.4581px;
  line-height: 29px;
  text-align: center;
  color: var(--white-clr);
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

/* Animation main */
.main__btn:focus {
  background-color: var(--orange-2-clr);
}

.main__btn:hover {
  background-color: var(--orange-2-clr);
}

.main__btn:active {
  background-color: var(--orange-3-clr);
}

/* ---------------MEDIA--------------------------- */

@media (max-width: 1366px) {


  /* MAIN */
  .main__wrapper {
    padding: 160px 77px;
  }

  .main__title {
    margin-right: 0;
    margin-bottom: 16px;
    font-size: 60px;
    line-height: 73px;
  }

  .main__descr {
    margin-right: 0;
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 24px;
  }

  .slade-1 {
    background-image: url(../img/main-bg-3-1024.jpg);
  }

  .slade-2 {
    background-image: url(../img/main-bg-1-1024.jpg);
  }

  .slade-3 {
    background-image: url(../img/main-bg-2-1024.jpg);
  }
}

@media (max-width: 800px) {

  /* MAIN */

  .main__wrapper {
    padding: 160px 40px;
  }

  .main__title {
    font-size: 50px;
    line-height: 61px;
  }

  .main__descr {
    font-size: 18px;
    line-height: 22px;
  }


  .slade-1 {
    background-image: url(../img/main-bg-3-1024.jpg);
  }

  .slade-2 {
    background-image: url(../img/main-bg-1-768.jpg);
  }

  .slade-3 {
    background-image: url(../img/main-bg-2-768.jpg);
  }
}

@media (max-width: 601px) {

  /* MAIN */

  .main {
    min-height: 308px;
  }

  .main__wrapper {
    min-height: 308px;
    padding: 60px 21px;
  }

  .main__title {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .main__descr {
    margin-bottom: 32px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }

  .main__btn {
    display: block;
    width: 162px;
    height: 41px;
    margin: 0 auto;
    padding: 13px 28px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 15px;
  }

  .main__slider {
    border-radius: 16px;
  }
  .slade-1 {
    background-image: url(../img/main-bg-3-320.jpg);
  }

  .slade-2 {
    background-image: url(../img/main-bg-1-320.jpg);
  }

  .slade-3 {
    background-image: url(../img/main-bg-2-320.jpg);
  }
}



/* ---------------------------------------------- */
/* ABOUT-US */

.about-us {
  padding-top: 49px;
}

.title-section {
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
  color: #333333;
}

.about-us .title-section {
  line-height: 59px;
}

.about-us__descr {
  max-width: 1235px;
  margin-bottom: 49px;
  font-size: var(--text-size);
  font-weight: 400;
  line-height: 32px;
  color: #333333;
}

.about-us__bottom {
  justify-content: space-between;
  min-height: 622px;
  font-size: var(--text-size);
  font-weight: 700;
  line-height: 20px;
}

.about-us__left {
  position: relative;
  z-index: 1;
  display: flex;
  overflow: hidden;
  align-items: flex-end;
  width: 50%;
  min-height: 622px;
  margin-right: 32px;
  border-radius: 32px;
  background: url(../img/about-us-bg.jpg) center center / cover no-repeat;
}

.left__descr {
  position: relative;
  z-index: 2;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 196px;
  padding-top: 50px;
  padding-right: 51px;
  padding-bottom: 50px;
  padding-left: 50px;
  border-radius: 32px;
  background: rgba(0, 0, 0, .5);
}

.left__tx {
  max-width: 454px;
  font-size: var(--text-size);
  font-weight: 700;
  font-style: normal;
  line-height: 32px;
  color: #ffffff;
}

.left__btn {
  width: 175px;
  min-height: 59px;
  padding: 12px 38px;
  border: 3px solid var(--orange-1-clr);
  font-size: var(--text-size);
  font-weight: 700;
  line-height: 1;
  color: var(--white-clr);
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  transition: background-color .3s ease-in-out, color .3s ease-in-out, border .3s ease-in-out;
}

/* Animation about-us*/
.left__btn:focus {
  background-color: var(--orange-1-clr);
}

.left__btn:hover {
  background-color: var(--orange-1-clr);
}

.left__btn:active {
  border: 3px solid var(--orange-3-clr);
  background-color: var(--orange-3-clr);
}

/* --------------- */

.about-us__right {
  width: 50%;
  height: 100%;
}

.right__option {
  /* min-height: 295px; */
  min-height: 100%;
  padding: 67px 116px 65px 300px;
  border-radius: 32px;
  outline: 1px solid #cacaca;
  background: url(../icons/about-us-icon-1.svg) center left 60px / 190px 165px no-repeat;
}

.right__option:not(:last-child) {
  margin-bottom: 31px;
}

.option-1 {
  background: url(../icons/about-us-icon-2.svg) center left 60px / 190px 165px no-repeat;
}

.right__title {
  display: block;
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #333333;
}

.right__descr {
  font-size: var(--text-size);
  font-weight: 400;
  line-height: 32px;
  color: #333333;
}

.about-us__tx-mob {
  display: none;
}

.about-us__btn-mob {
  display: none;
}


/* -------------------MEIDA--------------------------------- */
@media (max-width: 1536px) {

  /* ABOUT-US */
  .about-us__bottom {
    flex-wrap: wrap;
  }

  .about-us {
    padding-top: 36px;
  }

  .about-us__left {
    width: 100%;
    min-height: 640px;
    margin-right: 0;
    margin-bottom: 31px;
    background: url(../img/about-us-bg1024.jpg) center top / cover no-repeat;
  }

  .about-us__right {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .about-us__descr {
    margin-bottom: 60px;
  }

  .left__tx {
    margin-right: 20%;
  }

  .right__option {
    width: 50%;
    padding: 68px 30px 65px 317px;
  }

  .right__option:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }

  .right__title {
    margin-bottom: 10px;
  }

  .option-1,
  .option-2 {
    background-position: center left 76px;
  }
}

@media (max-width: 1366px) {


  /* ABOUT-US */

  .about-us {
    padding-top: 36px;
  }

  .about-us__bottom {
    flex-wrap: wrap;
  }

  .about-us__left {
    width: 100%;
    min-height: 640px;
    margin-right: 0;
    margin-bottom: 31px;
    background: url(../img/about-us-bg1024.jpg) center center / cover no-repeat;
  }

  .about-us__right {
    display: block;
    width: 100%;
  }

  .right__option {
    width: 100%;
    padding: 68px 116px 65px 317px;
  }

  .right__option:not(:last-child) {
    margin-right: 0;
    margin-bottom: 32px;
  }

  .about-us__descr {
    margin-bottom: 60px;
  }

  .left__tx {
    margin-right: 20%;
  }

  .right__option {
    padding: 68px 117px 65px 317px;
  }

  .right__title {
    margin-bottom: 10px;
  }

  .option-1,
  .option-2 {
    background-position: center left 76px;
  }
}

@media (max-width: 800px) {

  /* ABOUT-US */

  .about-us__descr {
    margin-bottom: 52px;
  }

  .about-us__left {
    width: 100%;
    min-height: 650px;
    margin-right: 0;
    margin-bottom: 31px;
    background: url(../img/about-us-bg768.jpg) center center / cover no-repeat;
  }

  .left__descr {
    padding-top: 34px;
    padding-right: 41px;
    padding-bottom: 34px;
    padding-left: 40px;
  }

  .left__tx {
    margin-right: max(47px);
  }

  .right__option {
    /* min-height: 235px; */
    padding: 40px 46px 34px 170px;
    background: url(../icons/about-us-icon-1.svg) center left 40px / 114px 99px no-repeat;
  }

  .option-1 {
    background: url(../icons/about-us-icon-2.svg) center left 40px / 114px 99px no-repeat;
  }
}

@media (max-width: 601px) {

  /* ABOUT-US */

  .about-us {
    padding-top: 60px;
  }

  .about-us .title-section {
    font-size: 24px;
    line-height: 29px;
  }

  .about-us__descr {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 14px;
  }

  .about-us__left {
    min-height: 300px;
    width: 100%;
    border-radius: 16px;
    margin-right: 0;
    margin-bottom: 8px;
    background: url(../img/about-us-bg320.jpg) center top / cover no-repeat;
  }

  .left__descr {
    display: none;
  }

  .about-us__tx-mob {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  .about-us__btn-mob {
    display: block;
    width: 162px;
    min-height: 39px;
    padding: 12px 40px;
    margin-bottom: 32px;
    border: 3px solid var(--orange-1-clr);
    border-radius: 8px;
    font-size: var(--text-size-mob);
    font-weight: 700;
    line-height: 1;
    color: var(--orange-1-clr);
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    transition: background-color .3s ease-in-out, color .3s ease-in-out, border .3s ease-in-out;
  }

  .left__btn-mob:focus {
    background-color: var(--orange-1-clr);
    color: var(--white-clr);
  }

  .left__btn-mob:hover {
    background-color: var(--orange-1-clr);
    color: var(--white-clr);
  }

  .left__btn-mob:active {
    border: 3px solid var(--orange-3-clr);
    background-color: var(--orange-3-clr);
    color: var(--white-clr);
  }

  .right__option {
    /* min-height: 247px; */
    outline: none;
    padding: 0;
    padding-top: 61px;
    background-image: url(../icons/about-us-icon-1-mob.svg);
    background-position: top left;
    background-size: 64px 49px;

  }

  .option-1 {
    background-image: url(../icons/about-us-icon-2-mob.svg);
  }

  .right__title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    margin-bottom: 3px;
  }

  .right__descr {
    font-size: 14px;
    line-height: 28px;
  }

  .right__option:not(:last-child) {
    margin-bottom: 33px;
  }
}

@media (max-width: 414px) {

  .about-us__left {
    min-height: 200px;
  }
}

/* ----------------------------------------------------- */

/* WORK */

.work .title-section {
  margin-bottom: 51px;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
}

.work__wrap {
  display: none;

}

.work__wrap.active {
  display: flex;

}

.work__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 51px;
}

.work__item:not(:last-child) {
  margin-right: 86px;
}

.work__item-link {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: #000000;
  outline: none;
  transition: color .3s ease-in-out;
}

.work__item-link--active {
  color: var(--orange-1-clr);
}

/* Animation steps
*/
.work__item-link:focus {
  color: var(--black-clr);
  color: var(--orange-1-clr);
}

.work__item-link:hover {
  color: var(--orange-1-clr);
}

.work__item-link:active {
  color: var(--orange-3-clr);
}

.work__item-link::after {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  outline: 2px solid var(--orange-1-clr);
  outline-offset: 5px;
  opacity: 0;
  transition: opacity .3s ease-in-out;

}

.work__item-link:focus::after {
  opacity: 1;
}

.work__item-link:hover::after {
  opacity: 0;
}

.work__item-link:active::after {
  opacity: 0;
}
/* -------------------- */

/* .work__wrap-block {
  width: calc(758 / 1770 * 100%);
} */

.work .left-block {
  width: calc(758 / 1770 * 100%);
  margin-right: 147px;
}

/* .wrap-block-right  */
.right-block {
  width: calc(870 / 1770 * 100%);
  padding-top: 7px;
}

.left-block__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #000000;
  margin-bottom: 12px;
}


.left-block__descr {
  max-width: 758px;
  font-weight: 400;
  font-size: var(--text-size);
  line-height: 32px;
  color: #000000;
  margin-bottom: 17px;
}

.left-block__descr-mob {
  display: none;
}

.left-block__link {
  display: block;
  width: 175px;
  height: 60px;
  padding: 22px 38px;
  margin-right: 32px;
  background: var(--orange-1-clr);
  border-radius: 16px;
  font-weight: 700;
  font-size: var(--text-size);
  line-height: 1;
  text-align: center;
  color: #FFFFFF;
  transition: background-color .3s ease-in-out;
}

/* ---------------------------------TABS------------------------------ */










/*--------------------------- Animation-------------------------- */
.left-block__link:focus {
  background-color: var(--orange-2-clr);
}

.left-block__link:hover {
  background-color: var(--orange-2-clr);
}

.left-block__link:active {
  background-color: var(--orange-3-clr);
}

/* --------------- */

.link-order {
  width: 147px;
  height: 60px;
  padding: 22px 37px;
  margin-right: 0;
  background: transparent;
  border: 1px solid #000000;
  border-radius: 16px;


  font-weight: 400;
  font-size: var(--text-size);
  line-height: 1;
  text-align: center;
  color: var(--black-clr);
  transition: background-color .3s ease-in-out, color .3s ease-in-out, border-color .3s ease-in-out;
}

/* Animation work */
.link-order:focus {
  background-color: var(--gray-3-clr);
  border-color: var(--gray-3-clr);
  color: var(--white-clr);

}

.link-order:hover {
  background-color: var(--gray-3-clr);
  border-color: var(--gray-3-clr);
  color: var(--white-clr);
}

.link-order:active {
  background-color: var(--black-clr);
  border-color: var(--gray-3-clr);
  color: var(--white-clr);
}

/* --------------- */

/* .wrap-block-right__img  */
.right-block__img {
  width: 100%;
  object-fit: cover;
  border-radius: 32px;

  /* background: url(../img/work-img.jpg) center center / cover no-repeat; */
  /* 868px */
}


/* ------------------------MEDIA----------------------------- */

@media (max-width: 1366px) {

  /* WORK */

  .work {
    padding-top: 32px;
  }

  .work__list {
    margin-bottom: 55px;
  }

  .work .left-block {
    width: calc(437 / 924 * 100%);
    margin-right: 50px;
  }

  /* .wrap-block-right */
  .right-block {
    width: calc(437 / 924 * 100%);
    padding-top: 7px;
  }

  .left-block__descr {
    margin-bottom: 25px;
  }
}

@media (max-width: 800px) {
  /* WORK */

  .work {
    padding-top: 31px;
    padding-bottom: 24px;
  }

  .work .title-section {
    margin-bottom: 49px;
  }

  .work__list {
    justify-content: space-between;
    margin-bottom: 45px;
  }

  .work__item:not(:last-child) {
    margin-right: 0;
  }

  .work__wrap {
    display: none;
    flex-direction: column-reverse;
  }

  .work__wrap.active {
    display: flex;
    animation-name: fade-in;
    animation-duration: .7s;
  }

  .work__item .active {
    color: var(--orange-1-clr);
  }

  .work .left-block {
    width: 100%;
    margin-right: 0;
  }

  /* .wrap-block-right  */
  .right-block {
    width: 100%;
    margin-bottom: 39px;
  }

  /* .wrap-block-right__img {
    min-height: 284px;
    width: 100%;
  } */

  .left-block__descr-desktop {
    display: none;
  }

}

@media (max-width: 601px) {

  /* WORK */

  .work {
    padding-top: 31px;
    padding-bottom: 36px;
  }

  .work .title-section {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
  }

  .work__list {
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 16px;
  }

  .work__item-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  /* .wrap-block-right  */
  .right-block {
    margin-bottom: 16px;
  }

  /* .wrap-block-right__img  */
  .right-block__img {
    min-height: 160px;
    width: 100%;
    border-radius: 16px;
  }

  .left-block__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }


  .left-block__descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  .left-block__link {
    width: 162px;
    height: 39px;
    padding: 12px 44px;
    margin-right: 10px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

  }

  .left-block__order {
    width: 118px;
    height: 39px;
    padding: 12px 32px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }
}

@media (max-width: 414px) {

  .work {
    padding-top: 12px;
  }

  .left-block__title {
    margin-bottom: 7px;
  }

  .work .btn {
    border-radius: 8px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(40px) ;
  }
  to {
    opacity: 1;
    transform: translateY(0px) ;
  }
}

/* -------------------------------------- */


/* QUESTION */
.question {
  padding-top: 59px;
  padding-bottom: 0;
  margin-bottom: 100px;
}

.question .title-section {
  margin-bottom: 40px;
}

.accordion__item {
  margin-top: -1px;
  border-top: 1px solid var(--gray-1-clr);
  border-bottom: 1px solid var(--gray-1-clr);
}

.accordion__item:first-child{
  border-top: 1px solid var(--gray-1-clr);
}

.accordion__item:not(:first-child){
  border-top: 1px solid transparent;
}

.accordion__item:hover .accordion__btn,
.accordion__item:focus-within .accordion__btn{
  border-color: var(--orange-1-clr);
}

.accordion__item:focus {
  color: var(--orange-1-clr);
  border-color: var(--orange-1-clr);
}

.accordion__item:hover {
  border-color: var(--orange-1-clr);
  cursor: pointer;
}

.accordion__btn {
  min-height: 112px;
  position: relative;
  padding-right: 90px;
  width: 100%;
  outline: none;
  text-align: left;
  font-size: 24px;
  line-height: 1;
  color: var(--black-clr);
  font-weight: var(---bold);
  margin-top: -1px;
  padding-top: 31px;
  padding-bottom: 31px;
  transition: color var(--short) ease-in-out, border-color var(--short) ease-in-out, ;
}

.accordion__btn:hover {
  color: var(--orange-1-clr);
  cursor: pointer;
}

.accordion__item:hover .accordion__btn,
.accordion__item:focus-within .accordion__btn{
 color: var(--orange-1-clr);
}

.accordion__btn:focus {
  color: var(--orange-1-clr);

}

.accordion__btn:hover {
  color: var(--orange-1-clr);
  cursor: pointer;
}

.accordion__btn::after {
  content: ' ';
  position: absolute;
  right: 0;
  top: 50%;
  width: 50px;
  height: 50px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='25' cy='25' rx='25' ry='25' fill='%23CACACA'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.0571 24.0571L25.0571 9L25.9429 9L25.9429 24.0571L33.8835 24.0571L41 24.0571L41 24.9429L25.9429 24.9429L25.9429 40L25.0571 40L25.0571 24.9429L10 24.9429L10 24.0571L25.0571 24.0571Z' fill='black'/%3E%3C/svg%3E%0A");
  transform: translateY(-50%);
  transition: background-image var(--short) ease-in-out, transform var(--short) ease-in-out;
}

.accordion__btn:focus::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='25' cy='25' rx='25' ry='25' fill='%23FF9900'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.0571 24.0571L25.0571 9L25.9429 9L25.9429 24.0571L33.8835 24.0571L41 24.0571L41 24.9429L25.9429 24.9429L25.9429 40L25.0571 40L25.0571 24.9429L10 24.9429L10 24.0571L25.0571 24.0571Z' fill='white'/%3E%3C/svg%3E%0A");
}

.accordion__btn:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='25' cy='25' rx='25' ry='25' fill='%23FF9900'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.0571 24.0571L25.0571 9L25.9429 9L25.9429 24.0571L33.8835 24.0571L41 24.0571L41 24.9429L25.9429 24.9429L25.9429 40L25.0571 40L25.0571 24.9429L10 24.9429L10 24.0571L25.0571 24.0571Z' fill='white'/%3E%3C/svg%3E%0A");
}

.accordion__content {
  overflow: hidden;
}

.accordion__content-wrap {
  padding-top: 20px;
  padding-bottom: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease, visibility .5s ease;
  transition-delay: .3s;
}

.is-active .accordion__content-wrap {
  opacity: 1;
  visibility: visible;
}

.is-active .accordion__btn::after {
  transform: translateY(-50%) rotate(45deg);
}



/* --------------MEDIA-------------------------- */


@media (max-width: 1366px) {


  /* QUESTION */

  .question {
    padding-top: 35px;
    margin-bottom: 80px;
  }

  .accordion__btn {
    font-size: 20px;
    padding-right: 145px;
    padding-bottom: 30px;
    padding-top: 29px;
  }

  .accordion__item:first-child .accordion__btn {
    padding-top: 25px;
  }

  .accordion__text {
    width: 72%;
    line-height: 32px;
  }
}

@media (max-width: 1023px) {

  /* QUESTION */

  .question {
    margin-bottom: 116px;
  }
}

@media (max-width: 800px) {

  /* QUESTION */

  .question {
    padding-top: 25px;
    margin-bottom: 114px;
  }

  .question .title-section {
    line-height: 59px;
    margin-bottom: 33px;

  }

  .accordion__btn {
    font-size: 20px;
    padding-right: 92px;
    min-height: 111px;
    padding-top: 32px;
    padding-bottom: 28px;
  }

  .accordion__item:first-child .accordion__btn {
    padding-top: 30px;
  }

  .accordion__text {
    width: 72%;
    line-height: 32px;
  }
}

@media (max-width: 601px) {

  /* QUESTION */

  .question {
    padding-top: 25px;
    margin-bottom: 59px;
  }

  .question .title-section {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 16px;
  }

  .accordion__btn {
    font-size: 20px;
    padding-right: 40px;
    min-height: 111px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .accordion__item:first-child .accordion__btn {
    padding-top: 31px;
  }

  .accordion__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px
  }

  .accordion__btn::after {
    width: 30px;
    height: 30px;

  }
}

/* -------------------------------------------- */

/* FOOTER */
.footer {
  padding-top: 48px;
  padding-bottom: 50px;
  background-color: #000000;
}

.footer__wrap {
  justify-content: space-between;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  min-width: 251px;
  margin-right: 163px;
}

.footer__img-link {
  margin-bottom: 25px;
}

.contacts__list {
  margin-bottom: 95px;
}

.contacts__items:not(:last-child) {
  margin-bottom: 17px;
}

.contacts__items-link {
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  color: var(--gray-1-clr);
  transition: color .3s ease-in-out, outline .3s ease-in-out;
}

/* Animation question */
.contacts__items-link:focus {
  color: var(--gray-1-clr);
  outline: 1px solid var(--orange-1-clr);
  outline-offset: 5px;
}

.contacts__items-link:hover {
  color: var(--orange-1-clr);
}

.contacts__items-link:active {
  color: var(--orange-2-clr);
  outline: none;
}

/* --------------- */

.contacts__social {
  display: flex;
  justify-content: space-between;
  max-width: 145px;
}

.social__link:not(:last-child) {
  margin-right: 25px;
}

.social__link {
  display: flex;
  transition: fill .3s ease-in-out, outline .3s ease-in-out;

  fill: var(--gray-3-clr);
}

/* Animation footer */
.social__link:focus {
  outline: 1px solid var(--orange-1-clr);
  outline-offset: 5px;

  fill: var(--gray-3-clr);
}

.social__link:hover {
  outline: none;

  fill: var(--orange-1-clr);
}

.social__link:active {
  outline: none;

  fill: var(--orange-3-clr);
}

/* --------------- */

.social__link-img {
  fill: inherit;
  width: 60px;
  height: 60px
}

.form {
  display: flex;
  flex-direction: column;
  min-width: 570px;
  margin-right: 50px;
  padding-top: 6px;
}

.form__title {
  display: inline-block;
  margin-bottom: 31px;
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
  color: #cacaca;
}

.form__input {
  width: 570px;
  height: 60px;
  margin-bottom: 26px;
  padding: 14px 24px;
  border: none;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--white-clr);
  background-color: var(--gray-4-clr);
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.form__input::placeholder {
  color: var(--gray-1-clr);

}

/* Animation footer */
.form__input:focus-visible {
  color: var(--gray-1-clr);
  outline: 0;
  background-color: var(--gray-3-clr);
}

.form__input:hover {
  color: var(--gray-1-clr);
  background-color: var(--gray-3-clr);
}

.form__input:active {
  color: var(--white-clr);
  background-color: var(--gray-3-clr);
}

/* --------------- */

.form__input:last-child {
  margin-bottom: 32px;
}

.form__text {
  height: 150px;
  resize: none;
}

.form__btn {
  display: block;
  width: 269px;
  min-height: 62px;
  margin: 0 auto;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  transition: background-color .3s ease-in-out;
}

/* Animation footer */
.form__btn:focus-visible {
  background-color: var(--orange-2-clr);
}

.form__btn:hover {
  background-color: var(--orange-2-clr);
}

.form__btn:active {
  background-color: var(--orange-3-clr);
}

/* --------------- */

.footer__descr {
  width: 363px;
  padding-top: 87px;
}

.footer__text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #cacaca;
}

.form__divader {
  display: none;
}

/* --------------------------MEDIA------------------------ */
@media (max-width: 1536px) {


  /* FOOTER */

  .footer {
    padding-top: 51px;
  }

  .footer__wrap {
    justify-content: flex-start;
  }

  .footer__contacts {
    margin-right: 132px;
  }

  .footer__descr {
    display: none;
  }

  .form {
    min-width: calc(541 / 924 * 100%);
    margin-right: 0;
  }

  .form__input {
    width: 100%;
  }

  .form__btn {
    width: 243px;

  }
}

@media (max-width: 1023px) {


  /* FOOTER */

  .footer .footer__wrap {
    flex-direction: column-reverse;
  }

  .form {
    width: 81%;
  }

  .form__title {
    margin-bottom: 27px;
  }

  .form__text {
    margin-bottom: 28px;
  }

  .contacts__list {
    display: none;
  }

  .form__btn {
    margin-bottom: 48px;
  }

  .footer__img-link {
    margin-bottom: 14px;
  }
}

@media (max-width: 601px) {

  /* FOOTER */

  .footer {
    padding-top: 27px;
  }

  .form__title {
    margin-bottom: 17px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

  }

  .form {
    width: 100%;
    margin-bottom: 16px;
  }

  .form__input {
    padding: 14px 20px;
  }

  .form__input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
  }

  .form__text {
    margin-bottom: 23px;
  }

  .form__btn {
    width: 180px;
    min-height: 39px;
    margin-bottom: 13px;
    padding: 12px 22px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    border-radius: 8px;
  }

  .form__divader {
    display: block;
    width: 100%;
    height: 1px;
    background: #414141;
  }

  .footer__img-link {
    width: 131px;
    height: 42px;
  }

  .footer__contacts {
    align-items: center;
    margin: 0;
  }

  .footer__img-link {
    margin-bottom: 16px;
  }

  .social__link-img {
    width: 40px;
    height: 40px;
  }

  .social__link:not(:last-child) {
    margin-right: 18px;
  }
}
